<!DOCTYPE html>
<link rel="stylesheet" href='../static/main.css' />
<html>
<head>
    <title>Edit Customer</title>
</head>
<body>
    <h1>Edit Customer</h1>
    <form method="POST" action="{{ url_for('edit_customer', id=customer['_id']|string) }}">
        <label>Name:</label>
        <input type="text" name="name" value="{{ customer['name'] }}" required><br><br>
        <label>VAT Identification Number:</label>
        <input type="text" name="vat" value="{{ customer['vat'] }}" required><br><br>
        <label>Address:</label>
        <textarea name="address" rows="4" cols="50" required>{{ customer['address'] }}</textarea><br><br>
        <input type="submit" value="Save">
    </form>
    <p><a href="{{ url_for('customer_list') }}">Go back to customer list</a></p>
    <p><a href="{{ url_for('index') }}">Go back to home page</a></p>
</body>
</html>
